
* {
    /* CSS HEX from coolors.co */
    --main-dark: #131515ff;       /* eerie-black */
    --main-light: #2b2c28ff;               /* jet */
    --accent-dark: #339989ff;     /* persian-green */
    --accent-light: #7de2d1ff; /* middle-blue-green */
    --light: #fffafbff;              /* snow */
}


.nav {
    display: flex;
    justify-content: flex-end;
}

.nav-button {
    text-decoration: underline;
    text-decoration-color: var(--main-dark);
    transition: 0.1s;
    padding: 0.9em;
}

.nav-button.active {
    text-decoration-color: var(--accent-light);
}