
* {
    /* CSS HEX from coolors.co */
    --main-dark: #131515ff;       /* eerie-black */
    --main-light: #2b2c28ff;               /* jet */
    --accent-dark: #339989ff;     /* persian-green */
    --accent-light: #7de2d1ff; /* middle-blue-green */
    --light: #fffafbff;              /* snow */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    margin: 1em;
    zoom: 175%;
}

/* **START SPLASH PAGE** */
.splash-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-gradient {
    width: 100%;
    height: 2px;
    background: rgb(255,250,251);
background: radial-gradient(circle, var(--accent-dark) 0%, var(--accent-light) 100%);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
    padding-left: 1em;
    width: 100%;
}

.nav {
    display: flex;
    justify-content: flex-end;
}

.nav-button {
    border-bottom: 2px solid var(--main-dark);
    margin: 1em;
}

.nav-button {
    border-bottom-color: var(--main-dark);
    transition: 0.2s;
}

.nav-button:hover {
    border-bottom-color: var(--accent-light);
    cursor:pointer;
}

.headline {
    font-size:small;
}

.headline h3 {
    font-weight: 400;
}

.headline-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#arrow {
    font-size: 2em;
    font-family: monospace;
    animation-name: hover-up-down;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    margin-bottom: 1em;
}

@keyframes hover-up-down {
    from {
        transform: translateY(0px);
    } 

    to {
        transform: translateY(5px);
    }
}
/* **END SPLASH PAGE** */

/* **START PORTFOLIO** */
.portfolio {
    border: 1px solid pink;
    width: 100%;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
}

.proj-col {
    transition: box-shadow 0.1s linear 0s;
}

.proj-col:hover {
    box-shadow: 1px 2px 5px black;
}

.proj-col img {
    width: 20%;
}


/* **END PORTFOLIO** */